/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* general properties */

html, body {
	height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, li, label,
dd, dt, time {
	font-family: 'Raleway', sans-serif;
	font-weight: thin;
}

h1, h2, h3, h4, h5, h6, p {
	text-align: center;
}

h2 {
	font-size: 2em;
	letter-spacing: .1em;
}

time {
	color: #E55039;
}

time, 
time span {
	font-family: 'Montserrat', sans-serif;
}

nav, footer,
.front > img {
	width: 100%;
}

nav, footer {
	width: 100%;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

a:link {
	color: black;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

/* front, message, picture */

.front 	{
	background-color: #f7f1e3;
	min-height: 100vh;
}

.front img {
	max-width: 300px;
	margin: 20px auto 20px auto;
	-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	transition: 1s;
}

.front img:hover {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.front h2,h3 {
	color: rgba(229,80,57, 1);
}

.front h2 {
	font-size: 2.5em;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: .2em;
	font-weight: bolder;
	margin: 5px;
}

.front h3 {
	font-weight: 200;
	margin-top: 10px;
}

.download-resume {
	padding: 10px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	margin: 20px auto;
	display: block;
	border: 1px solid rgb(229,80,57);
	color: rgb(229,80,57);
	background-color: #f7f1e3; 
}

.download-resume > span > i.fas {
	padding: 0 5px;
}

/*-----------Navigation Bar-----------*/

nav {
	height: 65px;
}

.nav-list, .accounts-list {
	float: center;
	position: relative;
}

.nav-list li, 
.accounts-list > li {
	list-style-type: none;
	display: inline;
	color: black;
	padding: 15px;
}

.accounts-list {
	text-align: center;
}

.accounts-list > li {
	font-size: 1.8em;
}

.fab {
	color: rgba(229,80,57, 1);	
}

.accounts-list > li a i.fab:hover {
	color: #ff6b81;
}

/* footer */
footer {
	height: 10vh;
	background-color: #E55039;
}

/* WRAPPER */
.wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

nav {
	display: grid;
	grid-template-columns: repeat(1, 5fr);
	background-color: rgba(229,80,57, .9);
	margin-top: 20px;
}

.nav-list {
	margin: 0 auto;
	transform: translate(0, 35%);
}

.nav-list li {
	padding: .5em 2.7em;
	margin: 0 .5em;
}

.parallelogram {
	position: relative;
	display: inline-block;
	background: transparent;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1em;
	height: 2em;
}

.parallelogram::before {
	content: ''; /* To generate the box */
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	background: #f5f6fa;
	transform: skew(45deg);
	outline: 1px solid #E55039;
}

.nav-list .parallelogram a{
	color: #E55039;
}

.nav-list .parallelogram a:hover {
	text-decoration: underline;
}

.about h2,
.portfolio h2,
.skill h2,
.contact h2 {
	color: #E55039;
	margin-bottom: 30px;
	padding: 10px 0;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: .2em;
	border-bottom: 1px solid #E55039;
}

.skill h4 {
	color: #E55039;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 0;
	font-family: 'Abril Fatface', cursive;
	font-size: 1.4em;
	letter-spacing: .2em;
}

.about,
.portfolio,
.skill {
	display: grid;
	grid-template-columns: 1fr;
	width: 70%;
	margin: 0 auto;
	padding: 50px 0;
}

.about p {
	text-align: justify;
	padding: 15px;
}

section#portfolio {
	width: 100%; 
	background-color: #f7f1e3;
}

.portfolio {
	padding-bottom: 40px;
}

.portfolio h4 a,
.portfolio p {
	color: #E55039;
}

.container {
	position: relative;
	padding: 10px;
	width: 90%;
	border: 1px solid #E55039;
	margin: 30px auto;
}


.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(229, 80, 57, .85);
}

.container:hover .overlay {
	opacity: 1;
}

.heading-text {
	color: #fff;
	font-size: 2em;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.sub-text {
	color: #fff;
	font-size: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.skill {
	padding: 50px 0;
}

.skill-list-one, .skill-list-two  {
	list-style-type: none;
	width: 100%;
}

.skill-list-one li {
	display: block;
	width: 100%;
}

.skill-list-two li {
	display: inline-block;
	width: 19%;
	text-align: center;
}

.progress {
	width: 100%;
	height: 20px;
}

.progress-wrap-html,
.progress-wrap-css,
.progress-wrap-js,
.progress-wrap-php,
.progress-wrap-sql,
.progress-wrap-linux,
.progress-wrap-git,
.progress-wrap-laravel,
.progress-wrap-jquery,
.progress-wrap-bootstrap,
.progress-wrap-csharp,  
.progress-wrap-mssql,
.progress-wrap-react,
.progress-wrap-vue,
.progress-wrap-angular,  
.progress-wrap-nodejs,  
.progress-wrap-ruby,  
.progress-wrap-dotnet  {
	background: #E55039;
	margin: 20px 0;
	overflow: hidden;
	position: relative;
}

.progress-bar-html,
.progress-bar-css,
.progress-bar-js,
.progress-bar-php,
.progress-bar-sql,
.progress-bar-linux,
.progress-bar-git,
.progress-bar-laravel,
.progress-bar-jquery,
.progress-bar-bootstrap,
.progress-bar-csharp, 
.progress-bar-mssql, 
.progress-bar-react,
.progress-bar-vue,
.progress-bar-angular,
.progress-bar-nodejs,
.progress-bar-ruby, 
.progress-bar-dotnet {
	background: #f7f1e3;
	left: 20%;
	position: absolute;
	top: 0;
}

.skill-img {
	display: block;
	margin: 0 auto;
}

section {
	width: 100%;
	background-color: #f7f1e3;
}


.contact {
	width: 70%;
	padding: 50px 0;

}

input[type="text"], label {
	display: block;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
}

.contact-form {
	margin-top: 2em;
	padding: 1em;
	border: 1em solid transparent;
	background: linear-gradient(white, white) padding-box,
	            repeating-linear-gradient(-45deg, #E55039 0, #E55039 12.5%, transparent 0, transparent 25%, 
	              #E55039 0, #E55039 37.5%, transparent 0, transparent 50%) 0 / 6em 6em;
	outline: 1px solid #E55039;
}

label,
input[type="text"],
input[type="email"],
textarea {
	margin: .2em;
}

input[type="text"],
input[type="email"] {
	padding: .5em;
	margin-bottom: 1em;
}

textarea {
	padding: 1em;
	height: 7em;
}

footer p {
	color: white;
	font-size: 1.2em;
	letter-spacing: .3em;
	padding-top: 1em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.contact-info {
	list-style-type: none;
}

.contact-info li, 
.contact-info li a {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #E55039;
	padding-bottom: 5px;
}

.contact-info li a:hover {
	text-decoration: underline;
}

.contact-info > li:nth-child(1) {
	font-size: 2em;
	font-weight: bolder;
	letter-spacing: 3px;
	padding-bottom: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#portfolio p {
	color: #000;
}

@media screen and (max-width: 760px) {
	
	.front img {
		max-width: 250px;
	}

	nav {
		height: 43vh;
	}

	.nav-list {
		margin: 0 auto;
		transform: translate(0%, 5%);
	}

	.nav-list li {
		display: block;
		margin: 8px;
		text-align: center;
		padding-bottom: 1.8em;
	}

	.about p {
		padding: 0;
	}

	.about h2 {
		font-size: 1.9em;
	}

	.portfolio h2 {
		font-size: 1.85em;
	}	

	.heading-text {
		font-size: 1em;
		position: relative;
	}

	.sub-text {
		font-size: .8em;
		position: relative;
	}

	.container {
		margin: 0;
		margin-bottom: 30px;
		width: 120%;
		position: relative;
		right: 12%;
	}

	.skill-img {
		display: block;
		margin: 0 auto;
	}

	.progress-wrap-html,
	.progress-wrap-css,
	.progress-wrap-js,
	.progress-wrap-php,
	.progress-wrap-sql,
	.progress-wrap-linux,
	.progress-wrap-git,
	.progress-wrap-laravel,
	.progress-wrap-jquery,
	.progress-wrap-bootstrap,
	.progress-wrap-csharp  {
		background: #E55039;
		margin: 5px 0 40px 0;
		overflow: hidden;
		position: relative;
	}

	.skill-list-two li {
		display: block;
		width: 100%;
		text-align: center;
	}

	.contact h2 {
		font-size: 1.6em;
	}

	.contact-info > li:nth-child(1) {
		font-size: 1.8em;
	}

	div.contact .accounts-list {
		width: 120%;
		right: 10%;
	}

	footer p {
		padding-top: 3vh;
		letter-spacing: 0;
	}

	footer {
		height: 15vh;
	}

}

@media screen and (min-width: 761px) {


	.picture {
		margin-top: 8%;
	}


	.skill-list-one {
		content: "";
  		display: table;
  		clear: both;
	}

	.progress-div {
		width: 65%;
		float: left;
		display: block;
		height: 128px;
		transform: translate(0, 25%);
	}
	
	.progress-img-div {
		width: 30%;	
		float: left;
	}

	
	.skill-list-two li {
		display: inline-block;
		width: 49.5%;
		text-align: center;
		padding: 1%;
	}

	.skill-list-two li:nth-child(5) {
		margin: 0 auto;
		display: block;
	}

	footer p {
		transform: translate(0, 30%);
	}

	.contact-form {
		padding-top: 1.5em;
	}


}